<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>日本地図おみくじ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="app-title">神社へGO</div>
    <div class="container">
        <h1>どこでおみくじを引く？</h1>
        <p>行きたい神社のピンをクリックしてね</p>

        <div class="map-container">
            <img src="{{ url_for('static', filename='images/japan_map.png') }}" alt="日本地図" class="map-image">
            
            <a href="/shrine/izumo" class="pin" style="top: 70%; left: 27%;">
                <span class="pin-text">出雲大社</span>
            </a>

            <a href="/shrine/nikko" class="pin" style="top: 58%; left: 61%;">
                <span class="pin-text">日光東照宮</span>
            </a>

            <a href="/shrine/ise" class="pin" style="top: 76%; left: 46%;">
                <span class="pin-text">伊勢神宮</span>
            </a>
        </div>
    </div>

</body>
</html>