<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>賽銭画面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/saisen-style.css') }}">
</head>
<body>
    <div class="container">
        <div class="game-screen">
            <div class="header-row">
                <button class="back-btn" onclick="window.history.back();">戻る</button>
                <div class="point-display">ポイント: {{ point if point is defined else 0 }}</div>
            </div>
            
            <h2 class="page-title">お賽銭を投げよう！</h2>
            
            <div class="saisenbako-area">
                <img class="saisenbako" src="{{ url_for('static', filename='img/saisenbako.png') }}" alt="賽銭箱">
            </div>
            
            <div class="goen-area">
                <img class="goen" src="{{ url_for('static', filename='img/money_50.png') }}" alt="五円玉" data-jinja="{{ jinja_id }}">
            </div>
            
            <div class="point-result">
                奉納しました！
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/saisen_motion.js') }}"></script>
</body>
</html>